section#post-list {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    padding: 0 30px;
  }
  section#post-list article {
    background: #fff;
    border: 1px solid #ddd;
    margin-top: 30px;
  }
  
  section#post-list article header {
    padding: 20px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  section#post-list article header .user-info {
    display: flex;
    flex-direction: row;
  }

  section#post-list article header .user-info .profile-image{
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 40px;
    margin-right: 10px;
  }
  
  section#post-list article header .user-info .profile-image img{
    width: 100%;
    height: 100%;
    border-radius: 40px;
  }
  section#post-list article header .user-info span {
    font-size: 14px;
  }
  
  section#post-list article header .user-info span.place {
    font-size: 13px;
    color: #666;
    margin-top: 3px;
  }
  
  section#post-list article > img {
    width: 100%;
  }
  
  section#post-list article footer {
    padding: 20px;
  }
  
  section#post-list article footer .actions {
    margin-bottom: 10px;
  }
  
  section#post-list article footer .actions button {
    background: transparent;
    border: 0;
    cursor: pointer;
  }
  
  section#post-list article footer .actions img {
    height: 20px;
    margin-right: 10px;
  }
  
  section#post-list article footer p {
    font-size: 13px;
    margin-top: 2px;
    line-height: 18px;
  }

  section#post-list article footer p strong{
    font-size: 14px;
  }
  
  section#post-list article footer p span {
    color: #7159c1;
    display: block;
  }
  a{
    color: black;
    text-decoration: none;

  }