.comment-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.comment-box input{
    width: 100%;
    height: 30px;
    border: none;
    font-size: 13px;
}

.comment-box button {
    color: #3897f0;
    font-weight: 800;
    background: none;
    font-size: 12px;
    border: none;
    opacity: 0.4;
}

.comment-box button:hover {
    opacity: 1;
}